.dp_icon{
  opacity: 0.6;
  display: inline-block;
  margin-left: 20px;
}

.left_form{
  float: right;
  width: 49%;
  padding: 0px;
}

.right_form{
  float: left;
  width: 50%;
  padding: 0px;
}

label{
  display: block;
  font-size: 1em;
  width: 50%;
  margin-top: 5px;
}

* > input[type=text] {
  width: 80%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--gray-light);
  border: none;
  border: 1px rgba(255, 255, 255, 0.116) solid;
  color: white;
}

input[type=text]:focus {
  outline: none;
  background-color: var(--gray-mid);
}

select{
  width: 90%;
  background-color: var(--gray-light);
  color: white;
  margin-top: 7px;
  padding: 5px 5px;
}

select:focus {
  outline: none;
  background-color: var(--gray-mid);
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  height: 25px;
  width: 25px;
  background: var(--main-red);
  border: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="checkbox"]:checked {
  background: green;
  display: inline-block;

}