#window{
    background-color: #2c2c2c;
    height: 60%;
    width: 65%;
    border-radius: 5px;
    user-select: none;
}

#top_bar{
    background-color: #1b1b1b;
    height: 5%;
    border-radius: 5px 5px 0px 0px;
}

#top_bar .icon{
    height: 10px;
    width: 10px;
    cursor: pointer;
}

#top_bar > .right{
    float: right;
    height: 100%;
    margin-right: 10px;
}

#top_bar > .left{
    float: left;
    height: 100%;
    margin-left: 10px;
}

#top_bar > .left > p{
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
}

#content{
    height: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    border-radius: 0px 0px 0px 5px;
}

#content > #left_nav{
    border-right: 1px solid #4e4e4e;
    background-color: #363636;
    border-radius: 0px 0px 0px 5px;
    flex-grow: 1;
    flex-shrink: 1;
}

#content > #left_nav > li{
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    height: 25px;
    position: relative;
    color: white;
    padding-top: 10px;
}

#content > #left_nav > li:after {
    position: absolute;
    top: 2.1em;
    left: 0;
    content: "";
    width: 90%;
    height: 0;
    border-bottom: 1px solid white;
}


#content > #left_nav > li:focus {
    outline: solid transparent;
}

#content > #left_nav > li:hover{
    background-color: #424242;
    cursor: pointer;
}

#content > #left_nav > .active{
    background-color: #424242;
}

#content > #action{
    flex-grow: 4;
    flex-basis: 30%;
    box-sizing: content-box;
    padding: 10px;
}

#content > #action > #submit{
    background-color: #424242;
    height: 50px;
    width: 150px;
    display: table; 
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#content > #action > #submit > p{
    display: block;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
    cursor: pointer;
}


.center-div
{
  position: absolute;
  top: 20%;
  left: 20%;
}