:root {
    --main-black: #000000;
    --second-black: #212121;

    --main-red : #870000;
    --second-red : #bf360c;
}

#window{
    background-color: var(--main-black);
    height: 60%;
    width: 65%;
    border-radius: 5px;
    user-select: none;
    box-shadow: 1px 1px 12px #555;
    border: white 1px solid;
}

#top_bar{
    background-color: #1b1b1b;
    height: 5%;
    border-radius: 5px 5px 0px 0px;
}

#top_bar .icon{
    height: 10px;
    width: 10px;
    cursor: pointer;
}

#top_bar > .right{
    float: right;
    height: 100%;
    width: 20px;
    height: 100%;
    margin-right: 10px;
    position: relative;
}

#top_bar > .right > #close > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top_bar > .left{
    float: left;
    height: 100%;
    margin-left: 10px;
}

#top_bar > .left > p{
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
}

#content{
    height: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    border-radius: 0px 0px 0px 5px;
}

h3{
    text-decoration: underline;
}

h3::after{
    content: " :";
}

#content > #left_nav{
    border-right: 1px solid #4e4e4e;
    background-color: var(--second-black);
    border-radius: 0px 0px 0px 5px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: 10px 0px 5px #36363649;
}

#content > #left_nav > li{
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    height: 25px;
    position: relative;
    color: white;
    padding-top: 10px;
}

#content > #left_nav > li:after {
    position: absolute;
    top: 2.1em;
    left: 0;
    content: "";
    width: 90%;
    height: 0;
    border-bottom: 1px solid white;
}


#content > #left_nav > li:focus {
    outline: solid transparent;
}

#content > #left_nav > li:hover{
    background-color: var(--second-red);
    cursor: pointer;
}

#content > #left_nav > .active{
    background-color: var(--main-red);
}

#content > #action{
    flex-grow: 4;
    flex-basis: 30%;
}

#content > #action > #submit{
    background-color: var(--main-red);
    height: 50px;
    width: 150px;
    display: table; 
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#content > #action > #submit:hover{
    background-color: var(--second-red);
}

#content > #action > #submit > p{
    display: block;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
    cursor: pointer;
}

.section-tobar{
    background-color: var(--main-red);
    height: 6%;
    padding: 5px;
    text-align: center;
    box-shadow: 0px -1px 0px white inset;

}

.section_content{
    height: 91%;
    display: flex;
}

.section_content > .left{
    background-color: right;
    height: 95%;
    width: 50%;
    padding: 10px;
    border-right: 1px solid #4e4e4e;
}

.section_content > .right{
    box-sizing: content-box;
    background-color: right;
    width: 50%;
    height: 78%;
    padding: 10px;
    overflow: auto;

}

.center-screen
{
  position: absolute;
  top: 20%;
  left: 20%;
}