input{
    background-color: var(--second-black);
    border: 1px white solid;
    width: 150px;
    height: 25px;
    padding-left: 5px;
    color: white;
}

input:focus{
    outline: none;
    border: 1px var(--main-red) solid;
}

label{
    font-size: 0.8em;
    margin: 5px 10px 5px 0;

}


input, label {
    display:block;
}

input[type=text] {
    margin-bottom: 5px;

}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    height: 10px;
    width: 10px;
    background: var(--main-red);
    border: 1px solid white;
}

input[type="checkbox"]:checked {
    background: green;
}

select {
    background: var(--second-black);
    border: 1px solid white;
    color: white;
    outline:0;
    height: 25px;
}

.dp_icon{
  float: right;
  margin-right: 30;
}


/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 5px;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

