.healt_pg{background-color:red;}
.sheld_pg{background-color:blue}

.left_bar{
    float: right; 
    height: 100%; 
    width: 300px;
    background-color: #3A3A3A;
}

#data > .section-title{
    border-bottom: 1px gray solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #2E2E2E;
}

#surv_icon{
    width: 20%;
    margin: 0;
    height: 20%;

    float: left;
}

#surv_icon > .container{
    height: 100%;

    width: 20px;
    margin: auto;
}

#surv_icon > .container > img{
    height: 20px;
    width: 20px;
}

#surv_info{
    float: left;
    width: 80%;
    height: 20%;
}

#surv_info > .container{
    width: 80%;
    height: 100%;

    margin: auto;
}

#surv_info > .container > .element{
    height: 20px;
}

#surv_info > .container > .element:first-child{
    padding-top: 10px;

}

#surv_info > .container > .element:nth-child(n+2){
    margin-top: 14px;
}

.icon{
    width: 20px; 
    height: 20px;
    margin-top: 10px;
}