.icon{
    width: 20px; 
    height: 20px;
}

.bottom_bar {
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 100%;
} 

.warning_icon{
    width: auto;
    float: right;
}

.warning_icon > img{
   float: right;
   height: 30px;
    width: 30px;
    margin-right: 15px;
}

.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}