body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
  }
  
  #window{
    width: 900px;
    height: 500px;
  }

#window > #top_bar{
    width: 80%;
    height: 30px;
}

#window > #top_bar > #text_top_bar{
   margin-left: 20%;
   padding: 10px;
   font-size: 0.8em;
   line-height: 30px;
}

#window > #content{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    border-radius: 5px;
}

#left_nav{
    background: var(--gray-light);
    height: 100%;
    width: 20%;
    border-radius: 5px 0 0 5px;
    overflow: auto;
}

#left_nav > #title{
    background-color: var(--red-dark );
    width: 100%;
    height: 10%;
    border-radius: 5px 0 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

#left_nav > #title > h1{
    font-size: 1.5em;
}


#left_nav > nav > li{
    list-style: none;
    border-bottom: rgba(0, 0, 0, 0.144) solid 1px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.733);
    cursor: pointer;
}

#left_nav > nav > div > li{
    list-style: none;
    border-bottom: rgba(0, 0, 0, 0.144) solid 1px;
    height: 35px;
    line-height: 35px;
    padding-left: 25px !important;
    color: rgba(255, 255, 255, 0.733);
    cursor: pointer;
}


#left_nav > nav > li:hover{
    background: var(--gray-mid);
}

.active{
    background: var(--gray-mid);
}

#left_nav > nav > ul:hover{
    background: var(--gray-mid);
}

#left_nav > nav > .dp{ 
    list-style: none;
    border-bottom: rgba(0, 0, 0, 0.144) solid 1px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.733);
    cursor: pointer;
}

#left_nav > nav > .dp > li{ 
    padding-left: 20px;
    border-bottom: rgba(0, 0, 0, 0.144) solid 1px;
}

.form_action{
    width: 80%;
    height: 95%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.form_action > section{
    height: 80%;
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.form_action > section > * > li {
    list-style: none;
    padding-left: 10px;
    border-top: rgba(0, 0, 0, 0.144) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.144) solid 1px;
    background: var(--gray-mid);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.content{
    height: 70%;
    overflow: auto;
    padding: 10px;
}

.form_action > * > h1{
    background-color:   var(--gray-mid);
    height: 35px;
    border-top: rgba(0, 0, 0, 0.144) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.144) solid 1px;
    line-height: 35px;
    text-align: center;
}

#submit{
    background-color: var(--red-light);
    height: 50px;
    width: 150px;
    display: table; 
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#submit:hover{
    background-color: var(--red-dark);
    cursor: pointer;
}

#submit > span{
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
}

.drop_item_container{
    width: 100%;
    height: 80%;
    overflow: auto;
}

.PIList{
    background-color: var(--gray-light);
    color: white;
    width: 100%;
    height: 87%;
    resize: none;
}

.spacer{
    display: block;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 1.5em;
}