:root {
    --section-size: 45px
}

#cam{
    opacity: 0.8;
}

#cam > #rotate {
    position: absolute; 
    left: 60%; 
    transform: translate(-50%); 
    display: flex;
}

#cam > #rotate > div{
   background: var( --gray-dark);
   width: 50px;
   height: 50px;
   margin-right: 10px;
   cursor: pointer;
}

#cam > #rotate > div:hover{
    background: var( --gray-light);
}

#cam > #camPosition {
    position: absolute; 
    right: 0; 
    display: flex;

}

#cam > #camPosition > div{
   background: var( --gray-dark);
   width: 50px;
   height: 50px;
   margin-left: 10px;
   cursor: pointer;
}

#cam > * > div > svg{
    width: 65%;
    height: 65%;
    color: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

#cam > #camPosition > div:hover{
    background: var( --gray-light);
}

.info {
    margin: 0;
    position: absolute;
    background-color: var( --gray-dark);
    width: 25%;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.info  > section{
    overflow: auto;
    height: 100%;
}


.info  > section > .sectionInfo > h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;

    text-align: center;
    font-size: 1.2em;
}

.info  > section > .sectionInfo > .no {
    margin-left: 10px;
    font-size: 0.8em;
    color: #6b7986;
}


.info  > section > .sectionInfo > h2 > .icon {
    width: 0.5em;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 7px;
}

.info  > section > .sectionInfo > h2 > .icon:hover {
    color: rgb(141, 141, 141);
}

.info  > section >  .sectionInfo > .form {
    background-color: var( --gray-light);
    height: var( --section-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin-bottom: 10px;

    text-align:center;
}

.info  > section >  .sectionInfo > div > input, select{
    flex-grow: 2;
    width: 45% !important;
    height: 30px !important;
    margin: auto !important;
    margin-right: 20px !important;
}

.info > section > .sectionInfo  > div > span{
    flex-grow: 3;
    text-align: left;
    width: 20%;
    vertical-align: middle;
    margin-left: 15px;
    line-height: var( --section-size);
}

#submit {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--red-light );
    cursor: pointer;
    position: relative;
    bottom: 0;
    text-align:center;
}

#submit:hover{
    background-color: var(--red-dark );
}
