:root {
    --section-size: 100px
}

.info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var( --gray-dark);
    width: 80%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.info > h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.info > div {
    background-color: var( --gray-light);
    height: var( --section-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin-bottom: 10px;

    text-align:center;
}

.info > div > input, select{
    margin-right: 15px !important;
    flex-grow: 2;
    width: 80% !important;
    height: 30px !important;
    margin: auto !important;
    margin-right: 20px !important;
}

.info > div > span{
    flex-grow: 3;
    text-align: center;
    width: 20%;
    vertical-align: middle;
    line-height: var( --section-size);
}

#submit {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--red-light );
    cursor: pointer;
}

#submit:hover{
    background-color: var(--red-dark );
}
