:root {
    --section-size: 75px
}

.info {
    margin: 0;
    position: absolute;
    background-color: var( --gray-dark);
    width: 25%;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.info  > section{
    overflow: auto;
}

.info  > h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.info  > section > h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.info  > section > .form {
    background-color: var( --gray-light);
    height: var( --section-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin-bottom: 10px;

    text-align:center;
}

.info  > section > div > input, select{
    flex-grow: 2;
    width: 45% !important;
    height: 30px !important;
    margin: auto !important;
    margin-right: 20px !important;
}

.info > section > div > span{
    flex-grow: 3;
    text-align: left;
    width: 20%;
    vertical-align: middle;
    margin-left: 15px;
    line-height: var( --section-size);
}

#submit {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--red-light );
    cursor: pointer;
    position: relative;
    bottom: 0;
    text-align:center;
}

#submit:hover{
    background-color: var(--red-dark );
}
