body{
  overflow: hidden;
}
#window{
  width: 900px;
  height: 500px;
  color: white;
  margin: auto;
  margin-top: 90px;
}

#side_bottom_window {
  background-color: white;
  box-shadow: -5px 0px 15px 10px rgba(0, 0, 0, 0.048);
  border: 1px solid rgba(0, 0, 0, 0.109);
  border-top: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: calc(650px - 60%);
  bottom: -111px;
  width: 650px;
  height: 110px;
  margin: auto;
}

#window > #content > #inventory{
  width: 45%;
  height: 100%;

  border-left: 1px solid var(--spacer);
  border-right: 1px solid var(--spacer);
}

#window > #content > #outfit{
  width: 30%
}

#window > #content > #stats{
  width: 25%;
  box-sizing: border-box;
}

#window > #content{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 95%;

  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.healt_pg{background-color: var(--red-dark)}
.sheld_pg{background-color:var(--blue-dark)}
.food_pg{background-color:var(--food-color)}
.thirst_pg{background-color:var(--thirst-color)}

/* outfit */


#window > #content > #outfit > .content{
  height: 90%;
  width: 100%;
  display: flex;

}

#window > #content > #outfit > .content > img{
  width: auto;
  height: 90%;
  margin: auto auto;
  opacity: 0.5;
  vertical-align: middle;
}

/* inventory */


#window > #content > #inventory > .content{
  box-sizing: border-box;
  height: 90%;
}

#window > #content > #inventory > .content > .header{
  width: 90%;
  height: 7%;
  margin: auto;
  background-color: var(--gray-mid);
  margin-top: 5px;
  border-radius: 5px 5px 0 0;

  border-bottom: 1px solid var(--spacer);
}

#window > #content > #inventory > .content > .header > .max_weight{
  width: 50%;
  height: 100%;
  display: block;
  float: right;
  text-align: right;
  padding: 6px;
  box-sizing: border-box;
  font-size: 0.8em;

}

#window > #content > #inventory > .content > #items{
  background-color: var(--gray-light);
  display: block;
  width: 90%;
  height: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--spacer);
}

#window > #content > #inventory > .content > #items > .object{
  background-color: var(--gray-mid);
  border-bottom: 1px solid var(--spacer);


  width: 100%;
  height: 15%;

  display: flex;
}

#window > #content > #inventory > .content > #items > .object > .thumb{

  width: 20%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid var(--spacer);
  background-color: var(--gray-med);
  box-shadow: inset 2px -2px 41px -3px rgba(0,0,0,0.36);

}

#window > #content > #inventory > .content > #items > .object > .thumb > img{
  height: 70%;
}

#window > #content > #inventory > .content > #items > .object > .info{
  position: relative;
  width: 100%;
  background: rgb(84,99,110);
  box-shadow: inset 2px -2px 41px -3px rgba(0,0,0,0.36);
}

#window > #content > #inventory > .content > #items > .object > .info > span{
  position: absolute;

  font-size: 0.8em;
  font-weight: lighter;
}

#window > #content > #inventory > .content > #items > .object > .info > .type > svg{
  width: 12px;
  height: 12px;
  float: right;
  padding: 7px;
}

#window > #content > #inventory > .content > #items > .object > .info > .name{
  top: 5px;
  left: 5px;

  font-size: 0.9em;
}

#window > #content > #inventory > .content > #items > .object > .info > .quantity{
  bottom: 5px;
  left: 5px;
}

/* Action Object */
#window > #content > #inventory > .content > .action > div{
  background-color: var(--gray-light);
  height: 30px;
  width: 25%;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;

  cursor: pointer;
}

#window > #content > #inventory > .content > .action > div:hover{
  background: rgb(84,99,110);
  box-shadow: inset 2px -2px 41px -3px rgba(0,0,0,0.36);
}

#window > #content > #inventory > .content > #items > .ItemsActive > .info{
  background-color: #394550;
}

#window > #content > #inventory > .content > #items > .ItemsActive > .thumb{
  background-color: #394550;
}


/* stats */
#window > #content > #stats > .content > div{
  padding: 5px;
}

#window > #content > #stats > .content > div:nth-child(2n+1){
  background-color:  var(--gray-light);
}
 
#window > #content > #stats > .content > * > .icon{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

#window > #content > #stats > .content > .progress-inline{
  display: flex;
}

#window > #content > div > h1{
  background-color: var(--red-dark);
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid var(--spacer);
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

#window > #content > div > h1::first-letter{
  text-transform: uppercase;
}

#window > #content > #stats > .content > .progress-inline > .progress{
  margin-right: 5px;
}

#window > #content > #stats > .content > .progress-inline > img{
  flex-grow: 1;
  margin-right: 10px;
}

#window > #content > #stats > .content  > .cash-inline{
  display: flex;
  font-size: 0.8em;
}

#window > #content > #stats > .content  > .cash-inline > img{
  margin-right: 10px;
}

#window > #content > #stats > .content  > .cash-inline > .data{
  margin-right: 5px;
}

#window > #content > #stats > .content  > .cash-inline > .money{
  display: inline-block;
  width: 100%;
  text-align: right;
}

/* side */



#side_bottom_window > .content{
  position: absolute;
  bottom: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  color: black;
  
}

#side_bottom_window > .content > .info{
  width: 70%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}

#side_bottom_window > .content > .info > .ar{
  padding: 5px;
  box-sizing: border-box;
  width: 15%;
}

#side_bottom_window > .content > .info > .ar > div > .icon{
  width: 15px;
  height: 15px;

  float: left;
}

#side_bottom_window > .content > .info > .desc{ 
  width: 100%;
  height: 100%;
}

#side_bottom_window > .content > .info > .desc > span{ 
  font-weight: bold;
  margin-bottom: 5px;

}

#side_bottom_window > .content > .info > .desc > p{ 
  height: 55%;
  overflow: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.109);
  padding: 5px;
  font-size: 0.8em;
}

#side_bottom_window > div > div.info > div.desc > .use{
  color: #2b353d75;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

#side_bottom_window > div > div.info > div.desc > .use:hover{
  color: #2b353dab;
}

::-webkit-scrollbar-thumb {
  background:var(--gray-light)
}

::-webkit-scrollbar-thumb:hover {
  background:var(--gray-mid)
}

#side_bottom_window > .content > .action{
  width: 40%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.109);
  display: flex;
}

#side_bottom_window > .content > .action  > .quantity > .drop{
  color: #2b353d75;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

#side_bottom_window > .content > .action  > .quantity > .drop:hover{
  color: #2b353dab;
}


#side_bottom_window > .content > .action > .quantity{
  width: 100%;
  height: 100%;
  position: relative;
}

#side_bottom_window > .content > .action > .quantity > .content{
  position: absolute; 
  top: 40%; left: 50%;
  transform: translate(-50%, -50%); 
}

#side_bottom_window > .content > .action > .quantity > .content > span{
  font-size: 2.5em;
  color: #2b353d75;
}

#side_bottom_window > .content > .action > .quantity > .content > .qtihover{
  color: #2b353dab;
  cursor: pointer;
}

#side_bottom_window > .content > .action > .quantity > .content > .number{
  cursor: ew-resize;
  display: inline-block;
  text-align: center;
  width: 50px;
}

