#window > #content{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 95%;

  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.healt_pg{background-color: var(--red-dark)}
.sheld_pg{background-color:var(--blue-dark)}


#window > #content > #outfit{
  width: 30%;

}

#window > #content > #inventory{
  width: 45%;

  border-left: 1px solid var(--spacer);
  border-right: 1px solid var(--spacer);

}

#window > #content > #stats{
  width: 25%;
  box-sizing: border-box;

}

#window > #content > #stats > .content > * > .icon{
  width: 20px;
  height: 20px;
}

#window > #content > #stats > .content > .progress-inline{
  display: flex;
  margin-bottom: 10px;
}

#window > #content > div > h1{
  background-color: var(--red-dark);
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid var(--spacer);
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

#window > #content > div > h1::first-letter{
  text-transform: uppercase;
}

#window > #content > div > .content{
  padding: 15px;
}

#window > #content > #stats > .content > .progress-inline > .progress{
  flex-grow: 3;
}

#window > #content > #stats > .content > .progress-inline > img{
  flex-grow: 1;
  margin-right: 10px;
}

#window > #content > #stats > .content  > .cash-inline{
  display: flex;
  margin-bottom: 10px;
}

#window > #content > #stats > .content  > .cash-inline > img{
  margin-right: 10px;
}

#window > #content > #stats > .content  > .cash-inline > .data{
  margin-right: 5px;
}

#window > #content > #stats > .content  > .cash-inline > .money{
  display: inline-block;
  width: 100%;
  text-align: right;
}


