#gauge > #indecator_light{
    display: flex;
    justify-content: space-between;


    width: 15%;

    position: absolute;
    left: 50%;
    bottom: 13%;
    transform: translate(-50%);
}

svg{
    width: 20px;
    height: 20px;
}

#gauge > * > .svg_off{
    color: rgba(100, 100, 100, 05);
}

#gauge > * > .svg_warning{
    color: #eb941a;
    filter: url(#red-glow);
}

#gauge > * > .svg_danger{
    color: #a10000;
    filter: url(#red-glow);
}

#gauge > * > .svg_ok{
    color: #00a108;
    filter: url(#red-glow);
}

#gauge{
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#gauge > * > span{
    color: white;
}

#gauge > .left{
    position: absolute;
    bottom: 1%;

    height: 150px;
    width: 220px;
}

#gauge > .left > #speed{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
}

#gauge > .left > #rpm{
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translate(-50%);

    width: 200px;
    margin-bottom: 7px;

}

#gauge > .right{
    position: absolute;
    bottom: 1%;
    right: 0;
    height: 150px;
    width: 220px;
}

#gauge > .right > #fuel{
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
