*{
    color: white;
}

.icon{
    width: 20px; 
    height: 20px;
}

.bottom_bar {
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 100%;
} 

.warning_icon_right{
    width: auto;
    float: right;
}

.warning_icon_left{
    width: auto;
    float: left;
}

.warning_icon_left > svg{
    float: right;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

.warning_icon_right > svg{
    float: right;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

#alert_content{
    margin-right: 2px;
    width: 20%; 
    height: 85%; 
    position: absolute;
    right: 0; 
    bottom: 7%;
    display: flex;
    flex-direction :column
}

.alert{
    width: 100%;
    top: 10%;
    display: flex;
    box-shadow: -5px 0px 15px 10px rgba(0, 0, 0, 0.048);
    border-radius: 5px;
    margin-top: 15px;
}

strong{
    color: black;
}

.alert > .header{
    margin: 0 auto;
    width: 20%;
    background-color: green;
}

.alert > .header > .icon{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    height: 25px;
    width: 25px;
}

.alert > .content{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    
}

.alert > .content > *{
    color: black;
}

.alert > .content > h1{
    font-size: 1em;
    margin-bottom: 5px;
    color: green;
}

.alert > .content > p{
    font-size: 0.8em;
}